:root {
  --primary-color: #61b35c;
  --secondary-color: #161a1f;
  --hover-color: #7ed879;
  --text-color: #414449;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style-type: none;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s;
}

a:hover {
  color: var(--hover-color);
}

html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 1rem 2rem;
}
