#home {
  padding: 5rem 1rem;
}

.res-wrapper {
  margin: 1.8rem 0;
}

.res-filters {
  margin-bottom: 2rem;
}

.res-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
}
