#home {
  padding: 5rem 1rem;
}

.res-wrapper {
  margin: 1.8rem 0;
}

.res-filters {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.search-box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2rem 0 0 2rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

.search-btn.button {
  border-radius: 0 2rem 2rem 0;
}

.res-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 289px);
  gap: 1.25rem;
}
