#header {
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  padding: 1rem;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  height: auto;
}

.navbar_wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-item {
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.nav-item a {
  color: var(--text-color);
}

.header-cart {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.account-btn.button {
  width: 100px;
  background-color: var(--primary-color);
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.account-btn.button:hover {
  background-color: inhert;
  color: inherit;
}
